[submodule "visionary"]
	path = visionary
	url = /root/work/Aerotri-Web/visionary

[submodule "ceres-solver"]
	path = ceres-solver
	url = https://github.com/AeroTri/ceres-solver.git

[submodule "CesiumGS"]
	path = CesiumGS
	url = https://github.com/AeroTri/CesiumGS.git
