[submodule "visionary"]
	path = visionary
	url = https://github.com/Visionary-Laboratory/visionary.git

[submodule "ceres-solver"]
	path = ceres-solver
	url = https://ghfast.top/https://github.com/ceres-solver/ceres-solver.git

[submodule "CesiumGS"]
	path = CesiumGS
	url = https://github.com/AeroTri/CesiumGS.git

[submodule "colmap"]
	path = colmap3.11/colmap
	url = https://github.com/colmap/colmap.git
	branch = 682ea9a

[submodule "gaussian-splatting"]
	path = gs_workspace/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git

[submodule "instantsfm"]
	path = instantsfm
	url = https://github.com/cre185/InstantSfM.git

[submodule "openMVG"]
	path = openMVG
	url = https://ghfast.top/https://github.com/openMVG/openMVG.git
